<div class="bar bar-header bar-positive">
	<h2 class="title">
		个人信息
	</h2>
</div>

<ion-content class="has-footer has-header">
	
	<div class="mine-banner">
		<div class="mine-login" ng-click="modal.show()">用户登录</div>
	</div>


<div class="list">

  <a class="item item-icon-left item-icon-right mine-list" href="">
     <img class="left-ioc" src="http://statics.as.missfresh.cn/frontend/img/invite-friend-icon.png" alt="">
    邀请好友赢福利
    <i class="icon ion-chevron-right"></i>
  </a>

  <a class="item item-icon-left item-icon-right mine-list" href="">
     <img class="left-ioc" src="http://statics.as.missfresh.cn/frontend/img/dingdan.png" alt="">
    我的订单
    <i class="icon ion-chevron-right"></i>
  </a>
  <a class="item item-icon-left item-icon-right mine-list" href="">
     <img class="left-ioc" src="http://statics.as.missfresh.cn/frontend/img/yue.png" alt="">
    我的余额
    <i class="icon ion-chevron-right"></i>
  </a>
  <a class="item item-icon-left item-icon-right mine-list" href="">
     <img class="left-ioc" src="http://statics.as.missfresh.cn/frontend/img/redpacket.png" alt="">
    我的红包
    <i class="icon ion-chevron-right"></i>
  </a>
  <a class="item item-icon-left item-icon-right mine-list" href="">
     <img class="left-ioc" src="http://statics.as.missfresh.cn/frontend/img/youhuiquan.png" alt="">
    我的优惠券
    <i class="icon ion-chevron-right"></i>
  </a>
  <a class="item item-icon-left item-icon-right mine-list" href="">
     <img class="left-ioc" src="http://statics.as.missfresh.cn/frontend/img/points-icon.png" alt="">
    积分
    <i class="icon ion-chevron-right"></i>
  </a>
  <a class="item item-icon-left item-icon-right mine-list" href="">
     <img class="left-ioc" src="http://statics.as.missfresh.cn/frontend/img/dizhi.png" alt="">
    我的地址
    <i class="icon ion-chevron-right"></i>
  </a>


</div>




</ion-content>